@inject IWarehouseService warehouseService



@if (warehouseService.Warehouses == null || warehouseService.Warehouses.Count == 0)
{
    <span>No data</span>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Address
            </th>
            <th scope="col">
                City
            </th>
            <th scope="col">Country</th>
            <th scope="col">Items</th>
        </tr>

        @foreach (var warehouse in warehouseService.Warehouses)
        {
            <tr>
                <td>
                    @warehouse.Name
                </td>
                <td>
                    @warehouse.Address
                </td>

                <td>
                    @warehouse.City
                </td>
                <td> @warehouse.Country.Name</td>
                <td> <a href="/items/@warehouse.Id">Items</a></td>
            </tr>
        }
    </table>
    <a class="btn btn-primary" href="/add">Add a warehouse</a>
 @*   if (warehouseService.TotalWarehouses > 10)
    {
     //pageination
    }*@



@code {

    protected override async Task OnInitializedAsync()
    {
        await warehouseService.GetWarehousesAsync(1,10);
    }

}


}
